* {
  font-family: monospace;
  font-size: 14px;
  font-weight: bold;
}

window#waybar {
  background: #000000;
  color: #839496;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}

#workspaces {
  margin: 0;
}

#workspaces button {
  background: #002b36;
  color: #839496;
  border: none;
  border-radius: 0;
  padding: 0 5px;
}

#workspaces button.active {
  color: #fdf6e3;
  background: #268bd2;
}

#workspaces button:hover {
  color: #fdf6e3;
}

#clock,
#cpu,
#memory,
#network,
#battery,
#disk,
#bluetooth,
#tray,
#temperature {
  color: #839496;
  padding: 0 10px;
}

#clock {
  background: #002b36;
}

#battery.warning {
  color: #d33682;
}

#battery.critical,
#temperature.critical {
  color: #dc322f;
}

#battery.charging {
  color: #859900;
}

#battery.full {
  color: #fdf6e3;
}

tooltip {
  background: #000000;
  border: 2px solid #002b36;
  text-shadow: none;
  border-radius: 0px;
  padding: 0;
  margin: 0;
}

tooltip label {
  color: #839496;
  font-family: monospace;
  padding: 0;
  margin: 0;
}
